@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #081b29;
    color: #ededed;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    /* height: 100%; */
}

.header {
    position: fixed;
    justify-content: space-between;
    display: flex;
    background-color: #696969;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 10px 10px;
    clear: both;
}

.logo::after {
    content: "";
    width: 5px;
    height: 20px;
    background: #ededed;
    display: inline-block;
    align-items: center;
}

.logo {
    color: #ededed;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}


.navbar {
    display: flex;
}

.navbar a {
    color: #ededed;
    text-decoration: none;
    padding-left: 25px;
    font-weight: 700;
    transition: .3s;
}


.navbar a:hover,
.navbar a:active {
    color: #081b29
}



.portrait {
    height: 300px;
    width: 100%;
    margin-top: 25px;
    background-image: url("./photos/IMG_5110\ \(Edited\).PNG");
    background-size: cover;
    border: solid 5px #696969;
    border-radius: 25px;
    box-shadow: 5px 10px 10px;
}

.content-boxes {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}


.portfolio-content {
    border: 5px solid #696969;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 500px;
    height: 400px;   
}

.portfolio-content img:hover {
    box-shadow: 5px 5px 5px #ededed;
}

.horiseon {
    height: 100%;
    width: 100%;
    padding: 2px;
    background-image: url(./photos/horiseon-refactor.png);
    background-size: cover;
    border-radius: 25px;
}

.bootcamp {
    height: 100%;
    width: 100%;
    padding: 2px;
    background-image: url(./photos/code2);
    background-size: cover;
    border-radius: 25px;
}

.css-cheat-sheet {
    height: 100%;
    width: 100%;
    padding: 2px;
    background-image: url(./photos/code3);
    background-size: cover;
    border-radius: 25px;
}

.cool-project {
    height: 100%;
    width: 100%;
    padding: 2px;
    background-image: url(./photos/placeholder);
    background-size: cover;
    border-radius: 25px;
}

.cooler-project {
    height: 100%;
    width: 100%;
    padding: 2px;
    background-image: url(./photos/placeholder2);
    background-size: cover;
    border-radius: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}


aside {
    flex: 0 0 25%;
    padding: 20px;
}

section, div {
    flex: 0 0 75%;
    display: flex;
    flex-wrap: wrap;
}

.center {
    align-items: center;
    text-align: center;
}

.main-image {
    flex: 3 1 100%;
}

section header {
    position: relative;
    height: 100%;
    margin: 0px 10px;
    top: -30px;
    width: 100%;
    z-index: 1;
    padding: 5px;
    border: 3px solid #696969;
    background-color: #081b29;
    border-radius: 25px;
}

section a {
    font-size: 16px;
    text-decoration: none;
    color: #ededed;
}

.space {
    justify-content: space-evenly;
}

.content-boxes aside h1 {
    text-align: center;
    text-decoration: underline;
}

div section p {
    width: 100%;
    bottom: 25px;
    position: relative;
    font-weight: 700;
}

footer {
    padding-bottom: 25px;
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

  .logo::after {
    animation: cursor-blink 1s steps(2) infinite;
}

@media screen and (max-width: 768px) {
    aside {
        flex: 0 0 100%
    }
    
    section, div {
        flex: 0 0 100%;
    }

    img .portrait {
        padding: 0px 25px;
    }
    
    .logo::after {
        height: 10px
    }
    
}

@media screen and (max-width: 600px) {
    .header a {
        font-size: 90%;
    }
}

@media screen and (max-width: 484px) {
    .header a {
        font-size: 70%;
    }
}

@media screen and (max-width: 411px) {
    .header a {
        font-size: 50%;
    }
}