/* Imported cool looking font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* Setting colors for site */
:root {
    --gray: #696969;
    --white: #ededed;
    --darkblue: #081b29;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--darkblue);
    color: var(--white);
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
}

.header {
    position: fixed;
    justify-content: space-between;
    display: flex;
    background-color: var(--gray);
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 10px 10px;
    clear: both;
}

/* Places blinking cursor after my title in the header */
.logo::after {
    content: "";
    width: 5px;
    height: 20px;
    background: var(--white);
    display: inline-block;
    align-items: center;
}

.logo {
    color: var(--white);
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--white);
    text-decoration: none;
    padding-left: 25px;
    font-weight: 700;
    transition: .3s;
}

.navbar a:hover {
    color: var(--darkblue);
}

.portrait {
    height: 300px;
    width: 100%;
    margin-top: 25px;
    background-image: url("./photos/IMG_5110\ \(Edited\).PNG");
    background-size: cover;
    border: solid 5px var(--gray);
    border-radius: 25px;
    box-shadow: 5px 10px 10px;
}

.content-boxes {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}


.portfolio-content {
    border: 5px solid var(--gray);
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 500px;
    height: 400px;   
}

.portfolio-content img:hover {
    box-shadow: 5px 5px 5px var(--white);
}

/* 5 different classes so that I could get 5 different images */
.horiseon {
    height: 100%;
    width: 100%;
    padding: 2px;
    background-image: url(./photos/horiseon-refactor.png);
    background-size: cover;
    border-radius: 25px;
}

.bootcamp {
    height: 100%;
    width: 100%;
    padding: 2px;
    background-image: url(./photos/prework.png);
    background-size: cover;
    border-radius: 25px;
}

.weather-app {
    height: 100%;
    width: 100%;
    padding: 2px;
    background-image: url(./photos/Weather\ App.png);
    background-size: cover;
    border-radius: 25px;
}

.project1 {
    height: 100%;
    width: 100%;
    padding: 2px;
    background-image: url(./photos/dndQuestforGlorySS.png);
    background-size: cover;
    border-radius: 25px;
}

.js-quiz {
    height: 100%;
    width: 100%;
    padding: 2px;
    background-image: url(./photos/js-quiz-with-scoreboard.png);
    background-size: cover;
    border-radius: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}


aside {
    flex: 0 0 25%;
    padding: 20px;
}

section, div {
    flex: 0 0 75%;
    display: flex;
    flex-wrap: wrap;
}

/* centers the content that it is attached to */
.center {
    align-items: center;
    text-align: center;
}

.main-image {
    flex: 3 1 100%;
    height: 600px;
}

section header {
    position: relative;
    height: 100%;
    margin: 0px 10px;
    top: -30px;
    width: 100%;
    z-index: 1;
    padding: 5px;
    border: 3px solid var(--gray);
    background-color: var(--darkblue);
    border-radius: 25px;
}

section a {
    font-size: 16px;
    text-decoration: none;
    color: var(--white);
}

main section p {
    padding: 0px 20px;
}

/* spaces the footer out evenly */
.space {
    justify-content: space-evenly;
}

/* To center and underline the side bar for the page */
.content-boxes aside h1 {
    text-align: center;
    text-decoration: underline;
}

div section p {
    width: 100%;
    bottom: 25px;
    position: relative;
    font-weight: 700;
}

footer {
    padding-bottom: 25px;
}

/* This is for the cursor animation in the header */
@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

  .logo::after {
    animation: cursor-blink 1s steps(2) infinite;
}

/* Fixed header look at every standard resolution  */
@media screen and (max-width: 768px) {
    aside {
        flex: 0 0 100%
    }
    
    section, div {
        flex: 0 0 100%;
    }

    img .portrait {
        padding: 0px 25px;
    }
    
    .logo::after {
        height: 10px
    }
    
}

@media screen and (max-width: 600px) {
    .header a {
        font-size: 90%;
    }
}

@media screen and (max-width: 484px) {
    .header a {
        font-size: 70%;
    }
}

@media screen and (max-width: 411px) {
    .header a {
        font-size: 50%;
    }
}